<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WebAppDefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=SeleniumDemo.WebApp;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="UiTesting.WebSiteRoot" value="http://localhost:1619/" />
	</appSettings>
</configuration>